# A Quick SQLite Example

In [1]:
import pandas as pd
import numpy as np
import sqlite3

In [2]:
sqlite_file = 'lahmansbaseballdb.sqlite'
con = sqlite3.connect(sqlite_file)

q = 'SELECT * FROM allstarfull LIMIT 5'
results = pd.read_sql_query(q,con)

results

,ID,playerID,yearID,gameNum,gameID,teamID,team_ID,lgID,GP,startingPos
0,1,gomezle01,1933,0,ALS193307060,NYA,921,AL,1,1
1,2,ferreri01,1933,0,ALS193307060,BOS,912,AL,1,2
2,3,gehrilo01,1933,0,ALS193307060,NYA,921,AL,1,3
3,4,gehrich01,1933,0,ALS193307060,DET,919,AL,1,4
4,5,dykesji01,1933,0,ALS193307060,CHA,915,AL,1,5

# List Available Tables

In [3]:
q = '''
SELECT *
FROM sqlite_master
WHERE type='table'
'''

table = pd.read_sql_query(q,con)
table.filter(['name'])

                   name
0           allstarfull
1           appearances
2        awardsmanagers
3         awardsplayers
4   awardssharemanagers
5    awardsshareplayers
6               batting
7           battingpost
8        collegeplaying
9             divisions
10             fielding
11           fieldingof
12      fieldingofsplit
13         fieldingpost
14           halloffame
15            homegames
16              leagues
17             managers
18         managershalf
19                parks
20               people
21             pitching
22         pitchingpost
23             salaries
24              schools
25           seriespost
26                teams
27      teamsfranchises
28            teamshalf